* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

header {
  text-align: center;
  border: 1px solid black;
}

p {
  margin: 30px 0;
}

.article {
  border: 1px solid black;
  flex-basis: 600px;
  margin: 0 auto 0 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

footer {
  border: 1px solid black;
}
